Repository Alexsandruss/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova

pass icpx to other places
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

Fix empty cmake arg
  scripts/build_backend.py
Owners: none

fix for 'normalize' deprecation in linear_model
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/_linear.py
  daal4py/sklearn/linear_model/_ridge.py
Owners: @Alexsandruss

fix for 'normalize' deprecation in linear_model n2
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/_linear.py
Owners: @Alexsandruss

fix for 'normalize' deprecation in linear_model n3
  daal4py/sklearn/linear_model/_linear.py
Owners: @Alexsandruss

fix for 'normalize' deprecation in linear_model n4
  daal4py/sklearn/linear_model/_coordinate_descent.py
Owners: @Alexsandruss

fix for 'normalize' deprecation in linear_model n5
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/_linear.py
  daal4py/sklearn/linear_model/_ridge.py
Owners: @Alexsandruss

add logging and fix PEP8
  sklearnex/neighbors/lof.py
Owners: none

deleted file _lof_0_22.py and _lof_1_0.py
  sklearnex/neighbors/_lof_0_22.py
  sklearnex/neighbors/_lof_1_0.py
  sklearnex/neighbors/lof.py
Owners: none

fix pep8
  sklearnex/neighbors/lof.py
Owners: none

add deselected tests related to KNN
  deselected_tests.yaml
Owners: none

add new line in file lof.py
  sklearnex/neighbors/lof.py
Owners: none

fix implementation
  sklearnex/neighbors/lof.py
Owners: none

minor changes
  sklearnex/neighbors/lof.py
Owners: none

fix pep8 error
  sklearnex/neighbors/lof.py
Owners: none

minor fix
  sklearnex/neighbors/lof.py
Owners: none

remove functon check novelty
  sklearnex/neighbors/lof.py
Owners: none

change to lof in dispatcher
  sklearnex/dispatcher.py
Owners: none

fix pep8
  sklearnex/dispatcher.py
Owners: none

add LocalOutlierFactor implementation
  sklearnex/dispatcher.py
  sklearnex/neighbors/__init__.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/lof.py
Owners: none

fix year in copyright
  sklearnex/dispatcher.py
  sklearnex/neighbors/__init__.py
  sklearnex/neighbors/_lof_0_22.py
  sklearnex/neighbors/_lof_1_0.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/lof.py
Owners: none

minor fix
  sklearnex/neighbors/lof.py
Owners: none

fix considering previos version of scikit-learn
  sklearnex/neighbors/lof.py
Owners: none

fix pep8 errors
  sklearnex/neighbors/lof.py
Owners: none

Add support of GPU arrays
  sklearnex/neighbors/lof.py
Owners: none

fix indent error
  sklearnex/neighbors/lof.py
Owners: none

rename function
  sklearnex/neighbors/lof.py
Owners: none

fix PEP8 error
  sklearnex/neighbors/__init__.py
  sklearnex/neighbors/lof.py
Owners: none

split into files depending on version scikit-learn
  sklearnex/neighbors/_lof_0_22.py
  sklearnex/neighbors/_lof_1_0.py
  sklearnex/neighbors/lof.py
Owners: none

fix year
  sklearnex/neighbors/lof.py
Owners: none

minor fix
  deselected_tests.yaml
  sklearnex/neighbors/lof.py
Owners: none

add GPU support for old version scikit-learn
  sklearnex/neighbors/lof.py
Owners: none

add knn aggregation
  deselected_tests.yaml
  sklearnex/neighbors/lof.py
Owners: none

Update wrapper props with knn
  sklearnex/neighbors/lof.py
Owners: none

Rework lof wrapper
  sklearnex/neighbors/lof.py
Owners: none

Deselect lof in memory test
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss

Remove deselections of sklearn lof tests
  deselected_tests.yaml
Owners: none

Fix license
  sklearnex/dispatcher.py
  sklearnex/neighbors/__init__.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/lof.py
Owners: none

Remove host from sklearn_sycl
  examples/daal4py/sycl/sklearn_sycl.py
Owners: @maria-Petrova, @Alexsandruss

Alphabet order in __all__
  sklearnex/neighbors/__init__.py
Owners: none

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova
doc/                          @maria-Petrova

# DPC++
**/oneapi/                    @Alexsandruss

# Examples 
examples/                     @maria-Petrova @Alexsandruss
examples/notebooks/           @maria-Petrova @Alexsandruss

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @maria-Petrova @Alexsandruss
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
