Repository Alexsandruss/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova
doc/                          @maria-Petrova

# DPC++
**/oneapi/                    @Alexsandruss

# Examples 
examples/                     @maria-Petrova @Alexsandruss
examples/notebooks/           @maria-Petrova @Alexsandruss

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @maria-Petrova @Alexsandruss
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

Change handling of onedal binary version
  scripts/version.py
  setup.py
Owners: @Alexsandruss

oneDAL Random Forest
  .gitignore
  onedal/__init__.py
  onedal/dal.cpp
  onedal/ensemble/__init__.py
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
  onedal/primitives/get_tree.py
  onedal/primitives/tree_visitor.cpp
  scripts/CMakeLists.txt
  setup.py
  sklearnex/dispatcher.py
  sklearnex/ensemble/__init__.py
  sklearnex/ensemble/forest.py
  sklearnex/ensemble/tests/test_random_forest.py
  sklearnex/tests/test_monkeypatch.py
Owners: @Alexsandruss

Initial support of threading policy
  onedal/common/_policy.py
  onedal/common/policy.cpp
Owners: none

Change covariance hparams versioning
  onedal/common/hyperparameters.py
  onedal/primitives/covariance.cpp
Owners: none

Temporary pin oneAPI dependencies in conda-recipe
  conda-recipe/meta.yaml
Owners: @Alexsandruss

Return scipy version selection for sklearn 1.0; Revert onedal ridge changes
  .ci/scripts/get_compatible_scipy_version.py
  onedal/linear_model/linear_model.py
Owners: @napetrov, @Alexsandruss

Modify `validate_data` calls in ensemble
  sklearnex/ensemble/_forest.py
Owners: none

Remove SCIPY_ARRAY_API setting from `sklearnex.set_config`
  sklearnex/_config.py
Owners: none

Parallelize pytest calls in `conda-recipe/run_test.sh`
  conda-recipe/run_test.sh
Owners: @Alexsandruss
